$color-white: #fff;
$color-black: #000000;
$color-gray: #4b4b4b;
$color-hover: #b1b1b1;

$font-lg: 14px;
$font-md: 12px;
$font-sm: 10px;
$font-bold: 700;
$font-regular: 400;
$font-light: 300;

$transition: linear 0.3s;
